<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profile Card UI</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="/lawyerStyle.css">
</head>
<body>
<div class="card" data-state="#about">
  <div class="card-header">
    <img class="card-avatar" src='<%= data.img %>' alt="avatar" />
    <h1 class="card-fullname"><%= data.name %></h1>
    <h2 class="card-jobtitle"><%= data.typeOfLawyer %> Lawyer</h2>
  </div>
  <div class="card-main">
    <div class="card-section is-active" id="about">
      <div class="card-content">
        <div class="card-subtitle">ABOUT</div>
        <p class="card-desc"><%= data.about %></p>
      </div>
      <div class="card-social">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
    <div class="card-section" id="contact">
      <div class="card-content">
        <div class="card-subtitle">CONTACT</div>
        <div class="card-contact-wrapper">
          <div class="card-contact">
            <i class="fas fa-map-marker-alt"></i> &nbsp;&nbsp;&nbsp;
            <%= data.address %>
          </div>
          <div class="card-contact">
            <i class="fas fa-phone-alt"></i>&nbsp;&nbsp;&nbsp;
            <%= data.phoneNo %>
          </div>
          <div class="card-contact">
            <i class="fas fa-envelope"></i>&nbsp;&nbsp;&nbsp;
            <%= data.email %>
          </div>
          <button class="contact-me">WORK TOGETHER</button>
        </div>
      </div>
    </div>
    <div class="card-buttons">
      <button data-section="#about" >ABOUT</button>
      <button data-section="#contact">CONTACT</button>
    </div>
  </div>
</div>
<script  src="/lawyerScript.js"></script>
</body>
</html>
